/*!*************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/components/adminTaskToUserForm/adminTaskToUserForm.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************/
.adminTaskToUserForm_container__NqeUD {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .adminTaskToUserForm_container__NqeUD input,
  .adminTaskToUserForm_container__NqeUD textarea,
  .adminTaskToUserForm_container__NqeUD select {
    padding: 20px;
    background-color: var(--bgSoft);
    border: none;
    border-radius: 5px;
    color: var(--textColor);
  }
  
  .adminTaskToUserForm_container__NqeUD button {
    padding: 20px;
    cursor: pointer;
    background-color: var(--btn);
    border: none;
    border-radius: 5px;
    color: var(--textColor);
    font-weight: bold;
  }
/*!*************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/components/adminTaskForm/adminTaskForm.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************/
.adminTaskForm_container__i8hWg {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .adminTaskForm_container__i8hWg input,
  .adminTaskForm_container__i8hWg textarea,
  .adminTaskForm_container__i8hWg select {
    padding: 20px;
    background-color: var(--bgSoft);
    border: none;
    border-radius: 5px;
    color: var(--textColor);
  }
  
  .adminTaskForm_container__i8hWg button {
    padding: 20px;
    cursor: pointer;
    background-color: var(--btn);
    border: none;
    border-radius: 5px;
    color: var(--textColor);
    font-weight: bold;
  }
/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/components/adminTasks/adminTasks.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.adminTasks_task__iJZ0l {
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.adminTasks_row__GsoPK {
  display: flex;
  gap: 100px;
  width: 100%;
}

.adminTasks_col__ZEBFJ {
  flex-grow: 1;
}

.adminTasks_alone__IjD6X {
  flex-grow: 1/2;
}

.adminTasks_col__ZEBFJ img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.adminTasks_detail__c28Qb {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-grow: 1;
}

.adminTasks_taskButton__7x1D0 {
  padding: 5px 10px;
  background-color: rgba(220, 20, 60, 0.593);
  color: var(--textColor);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.adminTasks_editButton__0nbsY {
  padding: 5px 10px;
  background-color: rgba(36, 123, 14, 0.593);
  color: var(--textColor);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .adminTasks_row__GsoPK {
    flex-direction: column;
    gap: 20px;
  }
}
